name = "LsqFit"
uuid = "2fda8390-95c7-5789-9bda-21331edee243"
version = "0.10.0"

[deps]
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NLSolversBase = "d41bc354-129a-5804-8e4c-c37616107c6c"
OptimBase = "87e2bd06-a317-5318-96d9-3ecbac512eee"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[compat]
Distributions = "0.18, 0.19, 0.20, 0.21, 0.22, 0.23"
ForwardDiff = "0.10"
NLSolversBase = "7.5"
OptimBase = "2.0"
StatsBase = "0.32"
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
